@font-face {
    font-family: agrandir;
    src: url(agrandir.ttf);
}

:root {
    --body-background-color: hsl(0, 100%, 50%);
    --textAnimation: hsl(0, 100%, 50%);
    --text-color:#131313;
    --blur-in-pixels:25px;
    --height-100:100%;
    --height-100vh:100vh;
}
span.textAnimation{
    color: var(--textAnimation);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: agrandir;
    color: #fff !important  ;
}

html, body{
    height:100%;
    width:100%;
    overscroll-behavior:contain;
}
body {
    background: var(--body-background-color);
    height: 100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(149,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.949999999999999'%3E%3Cpath transform='translate(-26.25 6) rotate(3.75 1409 581) scale(1.015)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.6500000000000001' transform='translate(-15 15) rotate(4.5 800 450) scale(1.008)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(13.5 -45) rotate(45 401 736) scale(1.008)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.5'%3E%3Cpath transform='translate(90 -6) rotate(1.5 150 345) scale(0.985)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.3000000000000003' transform='translate(-60 -37.5) rotate(54 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-90 30) rotate(9 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.l-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(0,0,0,0.5);
    -webkit-text-stroke: #111;
}

.main__top {
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    top:10%;
}
.content{
    padding-left: 30px;
}
.top_text {
    color: var(--text-color);
    font-size: clamp(1.8em, 6vw, 3rem); 
    font-family: agrandir;
}

.parent-heading ~ ol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 20px;
}

.parent-heading ~ ol li {
    margin: 10px 0px;
}

.parent-heading ~ ol li a {
    display: inline-block;
    text-decoration: none;
    color:var(--text-color);
    font-size: 20px;
    transition: transform 200ms ease-out;
}
@media (max-width:786px){
    ol li a{
        font-size: 12px;
    }
    .logotainer{
        padding-left: 30px !important;
    }
    
    .modal__simple{
        padding: 50px 30px;
    } 
}

ol li a:hover {
    transform: translateX(10px);
    transition: transform 200ms ease-in;
}

.logotainer {
    position: fixed;
    height: 100px;
    width: 100%;
}

.logotainer a {
    display: inline-block;
    font-size: 24px;
    padding: 40px;
    font-family: agrandir;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
}

.parent-heading {
    position: relative;
}

.parent-heading img {
    display: block;
    width: 100px;
    filter:invert(1);
    margin-bottom: 20px;
    object-fit: cover;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;    
}

a {
    position: relative;
    z-index: 9999 !important;
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(180, 0%, 50%, 0.25);
    pointer-events: none;
}
h3.gsap-list{
    margin-left:-10px ;
}

.loading,
.load-back {
    position: fixed;
    z-index: 9999;
    background: #1d1d1d;
    width: 100%;
    height: 100%;
}

.load-back {
    z-index: 9998;
    background: #fff;
}
.centered-text span{
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%,-50%);
}


/*modals*/

.modal__simple{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 1000px;
    z-index: 999999;
    padding: 50px;
    opacity: 0;
    border-radius: 21px;
    border: 1px solid #fff;
    transition: all 200ms linear;
}
.active{
    background: rgba(0,0,0,0.5);
    transform:translate(-50%,-50%) scale(1);
    transition:all 200ms linear;
    opacity: 1;
}
.close-modal:hover{
    transform: rotate(360deg);
}
.close-modal{
    display:inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: #111;

}
.modal_content ol li{
    font-weight: bold;
    margin: 20px 0px;
}
.modal_content h1 + p{
    margin-top: 50px;
}

@media (max-width: 1005px){
    .modal__simple{
        height:100%;
        width: 100%;
       
    } 
} 

@media (max-height: 900px){
    .modal__simple{
        overflow-y:scroll;
        overflow-x:hidden;
    } 
}
.modal-first{
    top: 50%;
    transition: all 400ms linear;
    visibility: visible;
    transition: all 200ms linear;
}
.lineParent {
    overflow: hidden;
}
body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 100px);
    background: rgba(0,0,0,0.5);
}
@media (max-width:398px){
    .menu-item a {
        font-size: 14px !important;
    }
}
@media (max-width:320px){
    .parent-heading img {
       
        width: 60px;
       
    }
    
}
